/*
police à intégrer dans le html
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Special+Elite" rel="stylesheet">
 */

 html, body {
  margin:0px; padding:0px; width:100%; height:100%;
  float:left; float:right;
}
.row{
    margin : 0px;
    padding: 0px;
}
.bg{
  background-image: url("Images/Fond2.png");
  width: 100%;
  background-size : 100% auto;
  background-repeat: repeat-y;
  padding:0px;
  margin-top:-20px;
  border: 0px;
  }
/* couleur du background du body */

.beige
{
  background-color: #fefed5;
  margin-top: 0px;
  padding-top: 30px;
}



/* texte général */
h1
{
  font-family: 'Special Elite', cursive;
  color: #ce631b;
  text-align: center;
  margin-bottom: 70px;
}

h2
{
  font-family: 'Nanum Gothic', sans-serif;
  color: #ce631b;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
p
{
  font-family: 'Nanum Gothic', sans-serif;
  color: #37080e;
  text-align: justify;
  font-size: 16px;
}

a
{
  text-decoration: none;
  color: #fefed3;
  font-size: 16px;
}

a:hover{
  color: white;
}

li
{
  list-style: none;
}

span
{
  color: #fefed3;
}

.faq
{
  color: #6c2b29;
  font-weight: bold;
}
.faq:hover
{
  color: #ce631b;
}
/* titre*/
.img-responsive{
  margin: 0 auto;
  padding-top: 20px;
}

/* header & footer */
.navbar
{
  background-color: #6c2b29;
  color: #fefed3;
}

.input-group {margin-left: 20px;}

.marron
{
  background-color: #6c2b29;
  background-color: #6c2b29;
  color: #fefed3;
  font-family: 'Nanum Gothic', sans-serif;
  border: solid white 1px;
  margin-top: 0px;
  width: 100%;
  padding: 10px;
}

.navbar-default .navbar-nav > li > a
{
  color: #fefed3;
}

.navbar-default .navbar-nav > li > a:hover
{
  color:white;
}

p.textfooter
{
	text-align: center;
	font-size: 14px;
	color: #fefed3;
  font-family: 'Nanum Gothic', sans-serif;

}

.dropdown-menu li
{
  background-color:#6c2b29;
}
.change {
  background-color: #6c2b29;
  color:#fefed3;
}

.glyphicon-menu-hamburger
{
  color: #6c2b29;
}


/* Ajustement taille classe Well, mise en page formulaire et page event à venir */

.well {width: 672px; background: #fefed3; border :1px solid #6c2b29; border-radius: 0px 0px 10px 10px;}

figure { margin-bottom: 80px;}
input, select {margin-bottom: 10px;}




/* Ajustement des éléments en XS */

/* carousel*/
/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: #6c2b29;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/* Ajustement des éléments en XS */

@media screen and (min-width: 1px) and (max-width: 700px)
{

  /* Resize des elements */


  img { width: 300px; }

  .well {width: 300px;}

	.navbar-brand {
	font-size: 40px;
	margin-top: 9px;
	margin-right: 0px;
    }

    /* couleur bouton */

    .btn-light {background: #fefed3;}

    .glyphicon-menu-hamburger
    {
      color: #6c2b29;
    }

    .dropdown-menu li
    {
      background-color:#6c2b29;
    }

    .dropdown-menu li a
    {
      color: #fefed3;
    }

    .change {
      background-color: #6c2b29;
      color:#fefed3;
    }

}
/*!ne rien mettre en dessous*/
