/*
police à intégrer dans le html
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Special+Elite" rel="stylesheet">
 */



/* couleur du background du body */
.container
{
  background-color: #fefed5;
}


/* texte général */
h1
{
  font-family: 'Special Elite', cursive;
  color: #ce631b;
}

p
{
  font-family: 'Nanum Gothic', sans-serif;
  color: #37080e;
  text-align: justify;
}

a
{
  text-decoration: none;
  color: #fefed3;
}

li
{
  list-style: none;
}

/* header & footer */
.navbar
{
  background-color: #6c2b29;
  color: #fefed3;
}


.footer
{
	margin-top: 20px;
  background-color: #6c2b29;
  color: #fefed3;
  font-family: 'Nanum Gothic', sans-serif;
}

.marron
{
  background-color: #6c2b29;
}

p.textfooter
{
	text-align: center;
	font-size: 14px;
	color: #fefed3;
  font-family: 'Nanum Gothic', sans-serif;

}

a.navbar
{
  color: #fefed3;
}

.dropdown-menu li
{
  background-color:#6c2b29;
}

.dropdown-menu li a
{
  color: #fefed3;
}

.btn-primary
{
  background-color: #fefed3;
}

.glyphicon-menu-hamburger
{
  color: #6c2b29;
}

@media screen and (min-width: 1px) and (max-width: 700px)
{

	.navbar-brand {
	font-size: 40px;
	margin-top: 9px;
	margin-right: 0px;
}

/* couleur bouton */
.button
{
  background-color: #6c2b29;
  color: #fefed3; /* couleur du texte */
  font-family: 'Nanum Gothic', sans-serif;
}
