.footer {
	margin-top: 20px;
	background-color: rgba(255,255,212,1);
}
p.textfooter {
	text-align: center;
	font-size: 14px;
	color : rgba(96,41,46,1);
}
a {
	color : inherit;
}

@media screen and (min-width: 1px) and (max-width: 700px) {

	.navbar-brand { 
	font-size: 40px;
	margin-top: 9px;
	margin-right: 0px;
}

	.dropdown-menu li {
		background-color:#2F1E0E;
	}

	.dropdown-menu li a {
		color: #FFFFF0;
	}

}
